//colors
$bg: hsl(185, 75%, 39%);
$maintext: hsla(228, 41%, 12%, 0.863);
$subtext: hsl(227, 10%, 46%);
$Dark: hsl(0, 0%, 59%);
$white:hsl(0,0%,100%);

//font
$myfont:'Kumbh Sans', sans-serif;
$myfontsize:1em;
